.ui.tab.segment{"data-tab": "users", id: 'users-tab-segment'}
  = render 'registered_users', infobase: infobase
.ui.active.tab.segment{"data-tab": "menu", id: 'menu-tab-segment'}
  = render 'today_menu', infobase: infobase
.ui.tab.segment{"data-tab": "orders", id: 'orders-tab-segment'}
  = render 'orders', infobase: infobase