- weekdays = %w(monday tuesday wednesday thursday friday)
.ui.top.attached.tabular.menu
  - weekdays.each do |day|
    %a.item{ data: { tab: day } }
      = day.capitalize

- weekdays.each do |day|
  .ui.bottom.attached.tab.segment#order-tab-attached{ data: { tab: day } }
    = render 'order_form',infobase: infobase, orders: infobase.orders_for(day)
