.ui.four.column.grid
  .column
    .ui.segment
      %table.ui.celled.table
        %thead
          %tr
            %th Name
            %th E-mail
        %tbody
          - @users.each do |user|
            %tr
              %td{"data-label" => "Name"}= user.name
              %td{"data-label" => "E-mail"}= user.email
  .column
    .ui.segment
      %img/
  .column
    .ui.segment
      %img/
  .column
    .ui.segment
      %img/