.ui.compact.raised.segment{id: "empty-cart-container-position"}
  .ui.massive.message{id: "empty-cart-message"}
    %h2 Your shopping cart is empty.
    = link_to "Back to Menu", users_dashboard_index_path, style: 'color: white;text-decoration: none;', class: "ui positive button"