.ui.compact.raised.segment#empty-cart-container-position
  .ui.massive.message#empty-cart-message
    %h2 Your shopping cart is empty.
    = link_to "Back to Menu", users_dashboard_index_path, class: "ui positive button"