.ui.compact.raised.segment{:style => "margin: auto; top: 25%; width: 20%; padding: 10px"}
  .ui.massive.message{:style => "text-align: center;"}
    %h2 Your shopping cart is empty.
    = link_to "Back to Menu", users_dashboard_index_path, style: 'color: white;text-decoration: none;', class: "ui positive button"