@import "semantic-ui";

#menu-container {
  min-width: 1100px;
}

#day-tabs {
  margin: 0 auto;
}

#course-tabs {
  border: none;
  padding: 0
}

#collection-radio-buttons {
  margin: 0 10px 0 100px;
  vertical-align: middle;
}

#label-for-radio-buttons {
  font-size: 18px;
  font-weight: 600;
}

